<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexionCafeteria" connectionString="Data Source=(local);Initial Catalog=CafeteriaDB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ApiUrl" value="https://localhost:44365/api/" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<sessionState mode="InProc" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="1.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration> 